* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins-Light;
}

main {
    display: grid;



    header {
        display: grid;
        padding: 1rem;
        width: 100%;
        grid-template-columns: .5fr 6fr 1fr;
        position: absolute;
        z-index: 2;


        .logo {
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: clamp(0px, 100%, 40px);
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: white;
                    text-shadow: 1px 1px black;
                    font-size: 17px;
                    font-weight: bold;
                    margin-top: 5%;
                }
            }

            img {
                width: clamp(10px, 14vw, 70px);

            }
        }

        .btn-toggler {
            display: none;
        }

        .menu {
            display: flex;
            padding: 0% 25%;
            align-items: center;
            justify-content: center;

            div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;

                a {
                    font-size: clamp(13px, 1vw, 17px);
                    text-decoration: none;
                    color: white;
                    text-shadow: 1px 1px black;
                    transition: all .2s ease;
                    position: relative;
                }

                a:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: rgb(255, 255, 255);
                    visibility: hidden;
                    -webkit-transform: scaleX(0);
                    transform: scaleX(0);
                    -webkit-transition: all 0.1s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                }

                a:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }

            }
        }

        .login-area {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: clamp(13px, .8vw, 25px);
            background-color: rgba(223, 223, 223, 0.5);
            border-radius: 50px 50px 50px 50px;

            #access {
                text-decoration: none;
                color: black;
            }

            #register {
                width: 50%;
                height: 70%;
                border: none;
                cursor: pointer;
                border-radius: 5px;
                font-size: clamp(13px, .7vw, 20px);
                transition: all .1s linear;
                background-color: rgba(223, 223, 223, 0.5);
                ;

            }

            #register:hover {
                background-color: rgba(32, 178, 171, 0.664);
                color: rgb(255, 255, 255);
                box-shadow: 1px 1px 2px rgb(0, 0, 0);
                text-shadow: .2px .2px rgb(0, 0, 0);
            }

            #register:hover:active {
                outline: 1px solid white;
            }
        }

    }

    .headerFixedDown {
        animation: headerScrollDown .5s ease forwards;
    }

    .headerFixedUp {
        animation: headerScrollUp .5s ease forwards;
    }

    .fixedHome {
        width: 100%;
        height: 100vh;
    }

    .home {
        display: grid;
        height: 100vh;
        z-index: 0;
        color: white;
        position: fixed;


        #background-img-home {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .shadow {
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .1;
            background-color: black;
            z-index: -1;
        }

        .phrase {
            padding: 3% 0 2% 0;
            cursor: default;
            font-size: clamp(1px, 1rem, 18px);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            text-shadow: 1px 1px black;
            margin-right: 5%;


        }

        .content-home {
            display: flex;
            justify-content: flex-start;
            width: 100vw;
            z-index: 0;
            padding: 0% 4%;
            margin-bottom: 2%;
            background: red;

            .carousel {
                width: 100%;
                height: 62vh;
                z-index: 1;
                background: orange;


                .slide {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    overflow: hidden;
                    box-shadow: 1px 1px 6px black;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .hide {
                    display: none;
                }

                .slide-left {
                    animation: slideLeft 2s easy forwards;
                }

                .slide-right {
                    animation: slideRight 2s easy forwards;
                }
            }

            .container-info {
                background-color: rgba(0, 0, 0, 0.664);
                padding: 3%;
                width: 50%;
                margin-bottom: 2%;

                .info {
                    cursor: default;

                    h1 {
                        text-align: center;
                    }

                    p {
                        font-size: clamp(1px, 1rem, 18px);
                        text-align: justify;
                        padding: 5% 6%;

                        a {
                            text-decoration: none;
                        }
                    }

                }
            }

        }

    }

    .homeScroll {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: -1;
    }

    .services {
        display: grid;
        background-color: rgb(255, 255, 255);
        z-index: 0;
        height: 100vh;
        padding: 7% 2%;
        position: relative;
        overflow: hidden;

        #background-img-services {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .shadow {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .1;
            background-color: black;
            z-index: 0;
        }

        .text-service {
            display: flex;
            justify-content: flex-start;
            padding: 1rem;
            font-size: 1.1rem;
            color: rgb(0, 0, 0);
            text-shadow: 1px .5px rgba(0, 0, 0, 0.295);
            border-bottom: 1px solid lightgray;
            z-index: 1;
        }

        .all-cards {
            width: 100%;
            height: 100%;
            padding: 3rem 3rem;
            z-index: 1;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            position: relative;

            .slideleft {
                position: absolute;
                top: 30px;
                left: 0;
                width: 120px;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.205);
                opacity: 0;
                transition: all 1s ease;

                button {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    background-color: transparent;
                    border: none;
                }

                button::after,
                button::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: royalblue;
                }

                button::after {
                    top: 6px;
                    left: 0;
                    transform: rotate(-45deg);
                }

                button::before {
                    bottom: 6px;
                    left: 0;
                    transform: rotate(45deg);
                }
            }

            .slideleft:hover {
                opacity: 1;
            }

            .slideright {
                position: absolute;
                top: 30px;
                right: 0;
                width: 120px;
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.205);
                opacity: 1;
                transition: all 1s ease;

                button {
                    width: 50px;
                    height: 50px;
                    position: relative;
                    background-color: transparent;
                    border: none;
                }

                button::after,
                button::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 5px;
                    background-color: royalblue;
                }

                button::after {
                    top: 6px;
                    left: 0;
                    transform: rotate(45deg);
                }

                button::before {
                    bottom: 6px;
                    left: 0;
                    transform: rotate(-45deg);
                }
            }

            .slideright:hover {
                opacity: 1;
            }


            .card {
                width: 270px;
                height: 300px;
                background-color: rgb(255, 255, 255);
                margin: .3rem;
                box-shadow: 1px 1px 4px lightgray;
                border-radius: 5px;
                display: inline-block;



                #header-card {
                    height: 55%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                #text-body-card {
                    height: 45%;
                    text-align: justify;
                    padding: 2.5%;
                    cursor: default;
                    display: grid;
                    grid-template-rows: .6fr 2fr .1fr;

                    span {
                        display: flex;
                        justify-content: center;
                        font-weight: bold;
                        font-size: .9rem;
                    }

                    p {
                        padding: 2%;
                        font-size: .8rem;
                        overflow-y: scroll;
                    }

                    .area-access {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            background-color: rgba(240, 240, 240, 0.63);
                            width: 45%;
                            text-decoration: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: .8rem;
                            color: black;
                            padding: 2%;
                        }

                        a:hover {
                            background-color: rgb(0, 110, 146);
                            font-weight: bold;
                            color: white;
                        }

                        button {
                            width: 50%;
                            border: none;
                            padding: 2%;
                            cursor: pointer;
                            font-size: .85rem;
                        }

                        button:hover {
                            background-color: lightseagreen;
                            color: white;
                        }
                    }
                }

                p::-webkit-scrollbar {
                    width: 8px;
                }

                p::-webkit-scrollbar-thumb {
                    background: rgb(224, 224, 224);
                    border-radius: 20px;
                    border: 3px solid rgba(224, 224, 224, 0.705);
                }
            }
        }

        .all-cards::-webkit-scrollbar {
            width: 0px;
            height: 2px;

        }

        .all-cards::-webkit-scrollbar-track {
            border-radius: 5px;
        }
    }

    .are {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding: 10%;
        height: 100vh;
        z-index: 0;
        background-color: rgb(158, 158, 158);
        position: relative;

        #background-img-are {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .shadow {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .1;
            background-color: black;
            z-index: 0;
        }

        .whoweare {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            z-index: 1;

            div {
                width: 80%;

                #question {
                    font-size: 3rem;
                    color: black;
                }

                #text {
                    padding: 1rem;
                    font-size: 1.2rem;
                    text-align: justify;
                }
            }
        }

        .img-whoweare {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background-color: #dddddd;
            z-index: 1;

            img {
                width: 100%;
            }
        }
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-rows: 95% 5%;
        background-color: #368DE2;
        z-index: 0;
        height: 100vh;
        position: relative;


        .shadow {
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            opacity: .5;
            background-color: rgba(4, 0, 255, 0.048);
            z-index: 0;
        }

        .data {
            display: flex;
            align-items: flex-end;
            z-index: 1;

            .titles {
                width: 100%;
                height: 70%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .item {
                    margin: 1px;
                    color: whitesmoke;

                    display: grid;
                    grid-template-rows: auto 3fr;
                    padding: 1%;

                    h2 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10%;
                        color: rgb(255, 255, 255);
                        text-shadow: .5px .5px black;
                        font-size: 1.2rem;


                    }

                    div {
                        width: 100%;
                        padding: 10px;

                        div {
                            text-align: center;
                            margin: 5px 0px;

                            img {
                                width: 4%;
                            }
                        }
                    }
                }

                .title-services {
                    .grid-title-services {
                        display: grid;
                        grid-template-columns: 1fr 1fr;


                        .separator {
                            width: 100%;
                            padding: 10px;

                            .item_service {
                                text-align: center;
                                margin: 5px 0px;
                                // background-color: darkgreen;

                                a {
                                    text-decoration: none;
                                    color: rgb(255, 255, 255);
                                    text-shadow: .5px .5px black;

                                    &:hover {
                                        font-weight: bolder;
                                        text-shadow: .5px .5px black;
                                        color: whitesmoke;
                                    }

                                }

                            }
                        }


                    }
                }

                .title-social {

                    .grid-title-social {

                        div {
                            div {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {}
                            }
                        }
                    }
                }

                .title-contacts {
                    div {
                        div {
                            div {
                                display: flex;
                                justify-content: center;

                                // background-color: deeppink;
                                img {}

                                p {
                                    margin-left: 5%;
                                }
                            }
                        }
                    }
                }
            }


        }

        .info-bottom {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: #2281e0c0;
            box-shadow: -0.1px -0.1px 4px rgb(65, 65, 65);
            z-index: 1;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 1rem;
                height: 100%;
                font-size: 1rem;
                border-top: .1px solid rgba(122, 122, 122, 0.1);
                color: blanchedalmond;
                text-shadow: .5px .5px black;
            }
        }
    }

}