* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins-Light;
}

html body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: hidden;
  position: relative;
}

main header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  position: absolute;
  -ms-grid-columns: .5fr 6fr 1fr;
      grid-template-columns: .5fr 6fr 1fr;
  z-index: 1;
}

main header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .logo div img {
  width: clamp(0px, 100%, 40px);
}

main header .logo div a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 17px;
  font-weight: bold;
  margin-top: 5%;
}

main header .logo img {
  width: clamp(10px, 14vw, 70px);
}

main header .btn-toggler {
  display: none;
}

main header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0% 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .menu div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main header .menu div a {
  font-size: clamp(13px, 1vw, 17px);
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
}

main header .menu div a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

main header .menu div a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

main header .login-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: clamp(13px, 0.8vw, 25px);
  background-color: rgba(223, 223, 223, 0.5);
  border-radius: 50px 50px 50px 50px;
}

main header .login-area #access {
  text-decoration: none;
  color: black;
}

main header .login-area #register {
  width: 50%;
  height: 70%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: clamp(13px, 0.7vw, 20px);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  background-color: rgba(223, 223, 223, 0.5);
}

main header .login-area #register:hover {
  background-color: rgba(32, 178, 171, 0.664);
  color: white;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  text-shadow: 0.2px 0.2px black;
}

main header .login-area #register:hover:active {
  outline: 1px solid white;
}

main .headerFixedDown {
  -webkit-animation: headerScrollDown .5s ease forwards;
          animation: headerScrollDown .5s ease forwards;
}

main .headerFixedUp {
  -webkit-animation: headerScrollUp .5s ease forwards;
          animation: headerScrollUp .5s ease forwards;
}

main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  z-index: 0;
  overflow: hidden;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4bc1f7), to(#1d1dff));
  background-image: linear-gradient(to top, #4bc1f7, #1d1dff);
}

main .homeScroll {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: -1;
}

main .services {
  display: -ms-grid;
  display: grid;
  background-color: white;
  z-index: 0;
  height: 100vh;
  padding: 7% 2%;
  position: relative;
  overflow: hidden;
}

main .services #background-img-services {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

main .services .shadow {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  background-color: black;
  z-index: 0;
}

main .services .text-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  font-size: 1.1rem;
  color: black;
  text-shadow: 1px 0.5px rgba(0, 0, 0, 0.295);
  border-bottom: 1px solid lightgray;
  z-index: 1;
}

main .services .all-cards {
  width: 100%;
  height: 100%;
  padding: 3rem 3rem;
  z-index: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
}

main .services .all-cards .slideleft {
  position: absolute;
  top: 30px;
  left: 0;
  width: 120px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .services .all-cards .slideleft button {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: transparent;
  border: none;
}

main .services .all-cards .slideleft button::after,
main .services .all-cards .slideleft button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: royalblue;
}

main .services .all-cards .slideleft button::after {
  top: 6px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .services .all-cards .slideleft button::before {
  bottom: 6px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .services .all-cards .slideleft:hover {
  opacity: 1;
}

main .services .all-cards .slideright {
  position: absolute;
  top: 30px;
  right: 0;
  width: 120px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.205);
  opacity: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .services .all-cards .slideright button {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: transparent;
  border: none;
}

main .services .all-cards .slideright button::after,
main .services .all-cards .slideright button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: royalblue;
}

main .services .all-cards .slideright button::after {
  top: 6px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

main .services .all-cards .slideright button::before {
  bottom: 6px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

main .services .all-cards .slideright:hover {
  opacity: 1;
}

main .services .all-cards .card {
  width: 270px;
  height: 300px;
  background-color: white;
  margin: .3rem;
  -webkit-box-shadow: 1px 1px 4px lightgray;
          box-shadow: 1px 1px 4px lightgray;
  border-radius: 5px;
  display: inline-block;
}

main .services .all-cards .card #header-card {
  height: 55%;
}

main .services .all-cards .card #header-card img {
  width: 100%;
  height: 100%;
}

main .services .all-cards .card #text-body-card {
  height: 45%;
  text-align: justify;
  padding: 2.5%;
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .6fr 2fr .1fr;
      grid-template-rows: .6fr 2fr .1fr;
}

main .services .all-cards .card #text-body-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: .9rem;
}

main .services .all-cards .card #text-body-card p {
  padding: 2%;
  font-size: .8rem;
  overflow-y: scroll;
}

main .services .all-cards .card #text-body-card .area-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services .all-cards .card #text-body-card .area-access a {
  background-color: rgba(240, 240, 240, 0.63);
  width: 45%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  color: black;
  padding: 2%;
}

main .services .all-cards .card #text-body-card .area-access a:hover {
  background-color: #006e92;
  font-weight: bold;
  color: white;
}

main .services .all-cards .card #text-body-card .area-access button {
  width: 50%;
  border: none;
  padding: 2%;
  cursor: pointer;
  font-size: .85rem;
}

main .services .all-cards .card #text-body-card .area-access button:hover {
  background-color: lightseagreen;
  color: white;
}

main .services .all-cards .card p::-webkit-scrollbar {
  width: 8px;
}

main .services .all-cards .card p::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 20px;
  border: 3px solid rgba(224, 224, 224, 0.705);
}

main .services .all-cards::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

main .services .all-cards::-webkit-scrollbar-track {
  border-radius: 5px;
}

main .are {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  padding: 10%;
  height: 100vh;
  z-index: 0;
  background-color: #9e9e9e;
  position: relative;
}

main .are #background-img-are {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

main .are .shadow {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  background-color: black;
  z-index: 0;
}

main .are .whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

main .are .whoweare div {
  width: 80%;
}

main .are .whoweare div #question {
  font-size: 3rem;
  color: black;
}

main .are .whoweare div #text {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

main .are .img-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #dddddd;
  z-index: 1;
}

main .are .img-whoweare img {
  width: 100%;
}

main footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-rows: 95% 5%;
      grid-template-rows: 95% 5%;
  background-color: #368DE2;
  z-index: 0;
  height: 100vh;
  position: relative;
}

main footer .shadow {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .5;
  background-color: rgba(4, 0, 255, 0.048);
  z-index: 0;
}

main footer .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}

main footer .data .titles {
  width: 100%;
  height: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main footer .data .titles .item {
  margin: 1px;
  color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 3fr;
      grid-template-rows: auto 3fr;
  padding: 1%;
}

main footer .data .titles .item h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
  color: white;
  text-shadow: .5px .5px black;
  font-size: 1.2rem;
}

main footer .data .titles .item div {
  width: 100%;
  padding: 10px;
}

main footer .data .titles .item div div {
  text-align: center;
  margin: 5px 0px;
}

main footer .data .titles .item div div img {
  width: 4%;
}

main footer .data .titles .title-services .grid-title-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main footer .data .titles .title-services .grid-title-services .separator {
  width: 100%;
  padding: 10px;
}

main footer .data .titles .title-services .grid-title-services .separator .item_service {
  text-align: center;
  margin: 5px 0px;
}

main footer .data .titles .title-services .grid-title-services .separator .item_service a {
  text-decoration: none;
  color: white;
  text-shadow: .5px .5px black;
}

main footer .data .titles .title-services .grid-title-services .separator .item_service a:hover {
  font-weight: bolder;
  text-shadow: .5px .5px black;
  color: whitesmoke;
}

main footer .data .titles .title-social .grid-title-social div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .data .titles .title-contacts div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main footer .data .titles .title-contacts div div div p {
  margin-left: 5%;
}

main footer .info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #2281e0c0;
  -webkit-box-shadow: -0.1px -0.1px 4px #414141;
          box-shadow: -0.1px -0.1px 4px #414141;
  z-index: 1;
}

main footer .info-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 100%;
  font-size: 1rem;
  border-top: 0.1px solid rgba(122, 122, 122, 0.1);
  color: blanchedalmond;
  text-shadow: .5px .5px black;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/*# sourceMappingURL=index.css.map */