* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins-Light;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: .1fr 1fr 1fr 1fr 1fr;
}

main header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 6fr 1fr;
      grid-template-columns: .5fr 6fr 1fr;
  background-color: lightseagreen;
}

main header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .logo h2 a {
  text-decoration: none;
  cursor: pointer;
}

main header .logo img {
  width: clamp(14px, 14vw, 70px);
}

main header .btn-toggler {
  display: none;
}

main header .menu {
  padding: 0% 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .menu div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .menu div a {
  font-size: clamp(13px, 1vw, 25px);
  text-decoration: none;
  color: black;
}

main header .login-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(13px, 1vw, 25px);
}

main header .login-area #access {
  text-decoration: none;
  color: black;
}

main header .login-area #register {
  width: 50%;
  height: 80%;
  border-radius: 5px;
  border: none;
  font-size: clamp(13px, 0.8vw, 20px);
  cursor: pointer;
}

main header .login-area #register:hover:active {
  outline: 1px solid white;
}

main .home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: .1fr 3fr;
      grid-template-rows: .1fr 3fr;
}

main .home .phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 4% 0;
  cursor: default;
  font-size: 1.5rem;
}

main .home .content-home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

main .home .content-home .left-info .carousel {
  padding: 0% 5% 5% 5%;
}

main .home .content-home .left-info .carousel .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .home .content-home .left-info .carousel .slide img {
  width: 100%;
}

main .home .content-home .left-info .carousel .hide {
  display: none;
}

main .home .content-home .right-info {
  padding: 0% 10% 0 0;
}

main .home .content-home .right-info .container-info .info {
  cursor: default;
}

main .home .content-home .right-info .container-info .info h1 {
  padding: 0 5%;
}

main .home .content-home .right-info .container-info .info p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 5% 8%;
}

main .home .content-home .right-info .container-info .info p a {
  text-decoration: none;
}

main .services {
  display: -ms-grid;
  display: grid;
  background-color: lightseagreen;
}

main .services .text-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
  background-color: orange;
}

main .services .all-cards {
  height: 100%;
  background-color: rebeccapurple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem;
}

main .services .all-cards .card {
  width: 350px;
  height: 380px;
  background-color: white;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 9px black;
          box-shadow: 1px 1px 9px black;
  border-radius: 5px;
  overflow: hidden;
}

main .services .all-cards .card #header-card {
  height: 55%;
}

main .services .all-cards .card #header-card img {
  width: 100%;
  height: 100%;
}

main .services .all-cards .card #text-body-card {
  height: 45%;
  text-align: justify;
  padding: 3% 5%;
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .6fr 2fr .1fr;
      grid-template-rows: .6fr 2fr .1fr;
}

main .services .all-cards .card #text-body-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 1rem;
}

main .services .all-cards .card #text-body-card p {
  padding: 2%;
  font-size: .8rem;
  overflow: scroll;
}

main .services .all-cards .card #text-body-card .area-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services .all-cards .card #text-body-card .area-access a {
  background-color: rgba(240, 240, 240, 0.63);
  width: 45%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  color: black;
  padding: 2.3%;
}

main .services .all-cards .card #text-body-card .area-access a:hover {
  background-color: lightblue;
  font-weight: bold;
}

main .services .all-cards .card #text-body-card .area-access button {
  width: 50%;
  border: none;
  padding: 2%;
  cursor: pointer;
  font-size: .85rem;
}

main .services .all-cards .card #text-body-card .area-access button:hover {
  background-color: lightseagreen;
  color: white;
}

main .services .all-cards .card p::-webkit-scrollbar {
  width: 8px;
}

main .services .all-cards .card p::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 20px;
  border: 3px solid rgba(224, 224, 224, 0.705);
}

main .are {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  padding: 1%;
}

main .are .whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .are .whoweare div {
  width: 80%;
}

main .are .whoweare div #question {
  font-size: 3rem;
  color: black;
}

main .are .whoweare div #text {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

main .are .img-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .are .img-whoweare img {
  width: 70%;
}

main footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  background-color: whitesmoke;
}

main footer .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main footer .data table {
  width: 100%;
}

main footer .data table tr th {
  padding: 2rem 0 4rem 0;
  font-size: 1.3rem;
}

main footer .data table tr th h3 {
  padding: 1rem 0;
}

main footer .data table tr td {
  width: 0;
  text-align: center;
  padding: .5rem 0;
  font-size: 1rem;
}

main footer .data table tr td a {
  text-decoration: none;
  color: black;
}

main footer .data table tr td a img {
  width: 1.5rem;
  margin: .5rem;
}

main footer .data table tr td .link-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .data table tr td .link-contato #contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: lightseagreen;
}

main footer .info-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  font-size: 1rem;
  border-top: 0.1px solid rgba(122, 122, 122, 0.1);
}
/*# sourceMappingURL=index.css.map */