* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Poppins-Light;
}

main header {
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 1rem;
  position: absolute;
  -ms-grid-columns: .5fr 2fr 1fr;
      grid-template-columns: .5fr 2fr 1fr;
  z-index: 10;
}

main header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header .logo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .logo div img {
  width: clamp(0px, 100%, 40px);
}

main header .logo div a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 17px;
  font-weight: bold;
  margin-top: 2%;
}

main header .logo img {
  width: clamp(10px, 14vw, 70px);
}

main header .btn-toggler {
  display: none;
}

main header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0% clamp(1px, 6vw, 250px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .menu div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main header .menu div a {
  font-size: clamp(14px, 1vw, 15px);
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  position: relative;
}

main header .menu div a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

main header .menu div a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

main header .login-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: clamp(13px, 0.8vw, 17px);
  padding: 0 4% 0 25%;
}

main header .login-area #access {
  text-decoration: none;
  color: #e4e4e4;
  margin-right: 10%;
}

main header .login-area #register {
  width: clamp(1px, 70%, 140px);
  height: 70%;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: clamp(13px, 0.75vw, 20px);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  background-color: rgba(223, 223, 223, 0.5);
}

main header .login-area #register:hover {
  background-color: rgba(32, 178, 171, 0.664);
  color: white;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  text-shadow: 0.2px 0.2px black;
}

main header .login-area #register:hover:active {
  outline: 1px solid white;
}

main .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#72b3d1), to(#4444d6));
  background-image: linear-gradient(to top, #72b3d1, #4444d6);
}

main .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .1fr auto;
      grid-template-rows: .1fr auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#4444d6), to(#0099ff));
  background-image: linear-gradient(to top, #4444d6, #0099ff);
  height: 100vh;
  padding: 10% 2% 0 2%;
  position: relative;
  overflow: hidden;
}

main .services .text-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  color: white;
  text-shadow: 1px 0.5px rgba(0, 0, 0, 0.295);
  font-weight: bolder;
  border-bottom: 2px solid lightgray;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #acacaca1, #c4c1c18a);
}

main .services .all-cards {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .services .all-cards .slide-card {
  width: 100%;
  height: 100%;
  padding: 4rem 0 3rem 5rem;
  overflow: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .services .all-cards .slide-card .card {
  min-width: 310px;
  max-width: 310px;
  height: 320px;
  background-color: white;
  margin: .5rem;
  border-radius: 4px;
  position: relative;
  -webkit-box-shadow: 1px 1px 9px black;
          box-shadow: 1px 1px 9px black;
}

main .services .all-cards .slide-card .card #header-card {
  height: 55%;
  overflow: hidden;
}

main .services .all-cards .slide-card .card #header-card img {
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

main .services .all-cards .slide-card .card #header-card img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-radius: 4px 4px 0 0;
}

main .services .all-cards .slide-card .card #text-body-card {
  height: 45%;
  text-align: justify;
  padding: 0%;
  cursor: default;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: .6fr 2fr .1fr;
      grid-template-rows: .6fr 2fr .1fr;
  overflow: hidden;
  background-color: #e0e0e0;
  border-radius: 0 0 4px 4px;
}

main .services .all-cards .slide-card .card #text-body-card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 5% 2% 5%;
  font-weight: bold;
  font-size: .85rem;
}

main .services .all-cards .slide-card .card #text-body-card p {
  overflow-y: auto;
  padding: 0 5%;
  font-size: .8rem;
}

main .services .all-cards .slide-card .card #text-body-card .area-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

main .services .all-cards .slide-card .card #text-body-card .area-access a {
  width: 45%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  color: black;
  padding: 2%;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px #a1a1a1;
          box-shadow: 1px 1px 2px #a1a1a1;
}

main .services .all-cards .slide-card .card #text-body-card .area-access a:hover {
  background-color: #006e92;
  font-weight: bold;
  color: white;
}

main .services .all-cards .slide-card .card #text-body-card .area-access button {
  width: 50%;
  border: none;
  padding: 2%;
  cursor: pointer;
  font-size: .85rem;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px #a1a1a1;
          box-shadow: 1px 1px 2px #a1a1a1;
}

main .services .all-cards .slide-card .card #text-body-card .area-access button:hover {
  background-color: lightseagreen;
  color: white;
}

main .services .all-cards .slide-card .card p::-webkit-scrollbar {
  width: 5px;
}

main .services .all-cards .slide-card .card P::-webkit-scrollbar-track {
  background: #a9aaaa;
  border-radius: 5px;
}

main .services .all-cards .slide-card .card p::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
  border: 2px solid rgba(224, 224, 224, 0.705);
}

main .services .all-cards .slide-card .card:hover {
  -webkit-box-shadow: 1px 1px 4px lightgray;
          box-shadow: 1px 1px 4px lightgray;
}

main .services .all-cards .slide-card .card:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -1rem;
  left: 0px;
  -webkit-filter: blur(4px);
  filter: blur(3px);
  margin-left: 2px;
}

main .services .all-cards .slide-card::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

main .services .all-cards .slide-card::-webkit-scrollbar-track {
  background: #0059ff;
}

main .services .all-cards .slide-card::-webkit-scrollbar-thumb {
  background-color: #e7e7e7;
  border-radius: 20px;
  border: 3px solid #da880d;
}

main .services .all-cards::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}

main .services .all-cards::-webkit-scrollbar-track {
  border-radius: 5px;
}

main .are {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  padding: 10%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6157f1), to(#91f8d1));
  background-image: linear-gradient(to top, #6157f1, #91f8d1);
  position: relative;
}

main .are .whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .are .whoweare div {
  width: 80%;
}

main .are .whoweare div #question {
  font-size: clamp(10px, 3vw, 48px);
  color: black;
}

main .are .whoweare div #text {
  padding: 1rem;
  font-size: clamp(14px, 1vw, 19px);
  text-align: justify;
}

main .are .img-whoweare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .are .img-whoweare img {
  width: 100%;
}

main footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 95% 5%;
      grid-template-rows: 95% 5%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#18bad3), to(#108DD4));
  background-image: linear-gradient(to top, #18bad3, #108DD4);
  height: 100vh;
  position: relative;
}

main footer .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main footer .data .titles {
  width: 100%;
  height: 70%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

main footer .data .titles .item {
  margin: 1px;
  color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 3fr;
      grid-template-rows: auto 3fr;
  padding: 1%;
}

main footer .data .titles .item h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10%;
  color: white;
  text-shadow: .5px .5px black;
  font-size: 1.2rem;
}

main footer .data .titles .item div {
  width: 100%;
  padding: 10px;
}

main footer .data .titles .item div div {
  text-align: center;
  margin: 5px 0px;
}

main footer .data .titles .item div div img {
  width: 4%;
}

main footer .data .titles .title-services .grid-title-services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

main footer .data .titles .title-services .grid-title-services .separator {
  width: 100%;
  padding: 10px;
}

main footer .data .titles .title-services .grid-title-services .separator .item_service {
  text-align: center;
  margin: 5px 0px;
}

main footer .data .titles .title-services .grid-title-services .separator .item_service a {
  text-decoration: none;
  color: white;
  text-shadow: .5px .5px black;
}

main footer .data .titles .title-services .grid-title-services .separator .item_service a:hover {
  font-weight: bolder;
  text-shadow: .5px .5px black;
  color: whitesmoke;
}

main footer .data .titles .title-social .grid-title-social a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .data .titles .title-social .grid-title-social a div img {
  width: clamp(20px, 4%, 40px);
}

main footer .data .titles .title-contacts div div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main footer .data .titles .title-contacts div div div p {
  margin-left: 5%;
}

main footer .info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #189fdd;
}

main footer .info-bottom div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  height: 100%;
  font-size: 1rem;
  border-top: 0.1px solid rgba(122, 122, 122, 0.1);
  color: white;
  text-shadow: .5px .5px black;
}

.hide {
  display: none !important;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  background: #9e9e9e;
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid rgba(0, 0, 0, 0.185);
}

body {
  scrollbar-width: 5px !important;
}
/*# sourceMappingURL=index.css.map */