@media only screen and (max-width:600px) {

    main {
        header {
            width: 100%;
            grid-template-columns: 1fr 3fr;
            grid-template-areas: "a b b""d d d""c c c";
            padding: .5rem 1rem;
            z-index: 10;

            .logo {
                grid-area: a;
                z-index: 1;

                div {
                    justify-content: flex-start;
                }
            }

            .btn-toggler {
                grid-area: b;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 4% 4%;
                z-index: 1;

                input {
                    position: absolute;
                    opacity: 0;
                }

                label {
                    cursor: pointer;
                    position: relative;
                    display: block;
                    width: 30px;
                    height: 22px;

                    span {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 5px;
                        border-radius: 30px;
                        background-color: #f16234;
                        transition: 0.25s ease-in-out;
                    }

                    span:nth-child(1) {
                        top: 0;
                    }

                    span:nth-child(2) {
                        top: 8px;
                    }

                    span:nth-child(3) {
                        top: 16px;
                    }
                }

                input:checked+label span:nth-child(1) {
                    transform: rotate(-45deg);
                    top: 8px;
                }

                input:checked+label span:nth-child(2) {
                    opacity: 0;
                }

                input:checked+label span:nth-child(3) {
                    transform: rotate(45deg);
                    top: 8px;
                }

            }

            .menu {
                grid-area: c;
                padding: 0;
                z-index: 0;
                display: none;

                div {
                    display: block;
                    padding: 2%;
                    background-color: rgb(228, 228, 228);

                    a {
                        display: flex;
                        width: 100% !important;
                        background-color: rgb(204, 204, 204);
                        padding: 3%;
                        margin: .1%;
                    }
                }
            }

            .login-area {
                border-radius: 0;
                background-color: rgb(228, 228, 228);
                padding: 5% 2%;
                grid-area: d;
                z-index: 0;
                display: none;
                justify-content: center;

                #access {
                    width: 30%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    background-color: orange;
                }

                #register {
                    background-color: mediumseagreen;
                    height: 100%;
                    width: 30%;
                    padding: 2.5%;
                }
            }

        }

        .home {
            display: block;
            grid-template-columns: 1fr;

            .card-carousel {
                max-width: 100%;
                padding-left: 33%;
                padding-top: 10%;
                height: 45%;
                position: none;

                .my-card {
                    min-width: 130px;
                    height: 40%;
                }
            }

            .info-carousel {
                position: relative;
                max-width: none;
                width: 100%;
                height: 55%;
                top: 0%;
                right: 0;
                padding: 2%;

                h2 {
                    text-align: center;
                }

                p {
                    padding: 0 5%;
                    font-size: 13px;
                    text-align: justify;

                }
            }
        }

        .services {
            padding: 22% 0 0 0 !important;

            .text-service {
                font-size: clamp(1px, .9rem, 18px);
                justify-content: center;
                padding-right: 20px;
            }

            .all-cards {
                padding: 0 15%;

                .slide-card {
                    height: 100%;
                    padding: 2%;
                    display: block;


                    .card {
                        min-width: clamp(1px, 100%, 120px);
                        max-width: clamp(1px, 100vw, 250px);
                        height: clamp(1px, 100vh, 260px);
                        display: block;
                        margin: 2rem auto;

                        #header-card {
                            height: 50%;
                        }

                        #text-body-card {
                            padding: 2%;
                            height: 50%;
                            overflow: auto;


                            span {
                                font-size: .64rem !important;
                                padding: 0 5%;

                                b {
                                    color: green;
                                    margin-left: 5px;
                                    text-align: justify;
                                }
                            }

                            p {
                                font-size: .6rem;
                                padding: 3% 5%;
                            }

                            .area-access {
                                padding: 2% 0 0 0;

                                a {
                                    font-size: .6rem;
                                    border-radius: 4px;

                                }

                                button {
                                    font-size: .6rem;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }


                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                }


            }
        }

        .are {
            grid-template-columns: 1fr;
            grid-template-rows: .1fr .1fr;
            padding: 30% 0 0 0;

            .whoweare {
                justify-content: center;

                div {
                    width: 100%;

                    #question {
                        font-size: 1.3rem;
                        padding: 0 5%;
                        color: white;
                        font-weight: 600;
                        text-shadow: 1px 1px black;
                    }

                    #text {
                        font-size: .8rem;
                        padding: 5% 5% 2% 5%;
                    }
                }

            }

            .img-whoweare {
                padding: 5% 2%;
                background-color: transparent;

            }
        }

        footer {
            .data {
                padding-top: 25%;
                align-items: center;

                .titles {
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: "a a""b c";
                    padding: 0 3%;



                    .title-services {
                        padding: 0;

                        .grid-title-services {
                            padding: 0;

                            .separator {
                                padding: 0;

                                .item_service {
                                    width: 90%;
                                    margin: 5px auto;
                                    background-color: #f1f1f121;
                                    border-radius: 4px;

                                    a {
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }
                    }

                    .a {
                        grid-area: a;
                    }

                    .b {
                        grid-area: b;
                    }

                    .c {
                        grid-area: c;
                    }

                    .title-social {

                        .grid-title-social {
                            a {
                                div {
                                    border-radius: 4px;
                                    padding: 3% 0;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        width: clamp(1px, 13%, 100px);
                                    }
                                }
                            }
                        }


                    }

                    .title-contacts {
                        div {

                            div {
                                padding: 0;

                                div {
                                    margin-bottom: 10px;
                                    // background-color: #e2e2e22c;
                                    padding: 3%;
                                    border-radius: 4px;

                                    img {
                                        width: 10%;
                                    }

                                    p {
                                        font-size: .8rem;
                                    }
                                }
                            }
                        }
                    }

                    .item {

                        h2 {
                            font-size: .8rem;
                            background-color: rgba(236, 236, 236, 0.151);
                            padding: 10px 0;
                            color: #e9e9e9;
                            text-shadow: none;
                        }
                    }
                }
            }

            .info-bottom {
                div {
                    font-size: .6rem;
                }
            }
        }
    }

    .hideMobile {
        display: none !important;
    }

    .showMobile {
        display: flex !important;
    }


    // Menu suspenso

    .togglerUp {
        animation: togglerUp .5s ease forwards;
    }

    .togglerDown {
        animation: togglerDown .5s ease forwards;
    }

    @keyframes togglerUp {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(105%)
        }
    }

    @keyframes togglerDown {
        from {
            transform: translateX(105%)
        }

        to {
            transform: translateX(0)
        }
    }

}

@media only screen and (min-width:601px) and (max-width: 800px) {

    main {
        .home {
            display: block;
            grid-template-columns: 1fr;
            height: 940px;

            .card-carousel {
                max-width: 100%;
                padding-left: 25%;
                padding-top: 10%;
                height: 45%;
                position: none;

                .my-card {
                    min-width: 200px;
                    height: 50%;
                }
            }

            .info-carousel {
                position: relative;
                max-width: none;
                width: 100%;
                height: 55%;
                top: 0%;
                right: 0;
                padding: 2%;

                h2 {
                    text-align: center;
                    font-size: 22px !important;
                }

                p {
                    padding: 0 5%;
                    font-size: 15px;
                    text-align: justify;

                }
            }
        }

        .services {
            height: 940px;
            padding: 22% 0 0 0 !important;

            .text-service {
                font-size: clamp(1px, .9rem, 18px);
                justify-content: center;
                padding-right: 20px;
            }

            .all-cards {
                padding: 0 15%;

                .slide-card {
                    height: 100%;
                    padding: 2%;
                    display: flex;
                    flex-wrap: wrap;



                    .card {
                        min-width: clamp(1px, 100%, 120px);
                        max-width: clamp(1px, 100vw, 250px);
                        height: clamp(1px, 100vh, 260px);
                        display: block;
                        margin: 2rem auto;

                        #header-card {
                            height: 50%;
                        }

                        #text-body-card {
                            padding: 2%;
                            height: 50%;
                            overflow: auto;


                            span {
                                font-size: .64rem !important;
                                padding: 0 5%;

                                b {
                                    color: green;
                                    margin-left: 5px;
                                    text-align: justify;
                                }
                            }

                            p {
                                font-size: .6rem;
                                padding: 3% 5%;
                            }

                            .area-access {
                                padding: 2% 0 0 0;

                                a {
                                    font-size: .6rem;
                                    border-radius: 4px;

                                }

                                button {
                                    font-size: .6rem;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }


                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                }


            }
        }

        .are {
            height: 940px;
            padding: 0 4% 0 8%;

            .whoweare {
                justify-content: center;

                div {
                    width: 100%;

                    #question {
                        font-size: 1.3rem;
                        padding: 0 5%;
                        color: white;
                        font-weight: 600;
                        text-shadow: 1px 1px black;
                    }

                    #text {
                        font-size: .8rem;
                        padding: 5% 5% 2% 5%;
                    }
                }

            }

            .img-whoweare {
                padding: 5% 2%;
                background-color: transparent;

            }
        }
    }

}