// Animation to scroll header
@keyframes headerScrollUp {
    from { opacity: 0; top: -50px;}
    to {opacity: 1; top: 0px;}
}
@keyframes headerScrollDown {
    from { opacity: 0; top: -50px;}
    to {opacity: 1; top: 0px;}
}

@keyframes slideLeft {
    from {opacity: 0; background-color: rgba(0, 0, 0, 0.11);}
    to {opacity: 1; background-color:rgba(0, 0, 0, 0.5);}
}

@keyframes slideRight {
    from {opacity: 0; background-color: rgba(0, 0, 0, 0.11);}
    to {opacity: 1; background-color:rgba(0, 0, 0, 0.5);}
}
