// Efeito navbar slide no scroll

.headerFixedUp {
    animation: headerScrollUp .3s ease forwards;
}
.headerFixedDown {
    animation: headerScrollDown .3s ease forwards;
}

@keyframes headerScrollUp {
    from {transform: translateY(100%);}
    to {transform: translateY(0);}
}
@keyframes headerScrollDown {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}

