.slide-down {
    animation: slide-down 2s linear forwards;
}

.slide-up {
    animation: slide-up 2s linear forwards;
}

@keyframes slide-down {
    from {transform: translateY(0);}
    to {transform: translateY(100%);}
}

@keyframes slide-up {
    from {transform: translateY(100%);}
    to {transform: translateY(0);}
}


